/* You can add global styles to this file, and also import other style files */

/*** Uncomment these import statements if you are running this locally. 
** If running in stackblitz they need to be commented out 
***/

/*
@import "../node_modules/devextreme/dist/css/dx.common.css";
@import "../node_modules/devextreme/dist/css/dx.light.css";
*/

/***
This is the angular material theme. If you are running this on Stackblitz it may give you issues. If it does, please comment it out and use the CDN
***/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.subtitleClass {
    font-style: italic;
    font-size: 22pt;
    text-align: center;
}

.nextButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 55px;
    width: 250px;
    padding: 10px;
    border: 3px solid black;
}